<!DOCTYPE html>
<?php
//Проверяем не отключили ли сайт и если отключили то убираем сессию
//Часть  переправляющая на страницу с логином
  if(mysql_num_rows(mysql_query("SELECT * FROM `service_status` WHERE `checked` = '1' AND `destroy_session` = '1'")) == 1 && !$_SESSION["access"][5]){
    // Unset все переменные сессии.
    $_SESSION = array();
    // Наконец, разрушить сессию.
    session_destroy();
    //Валим логинится
    header("Location: /remont.php");
    exit();
  }
?>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>СИА-ПРЕСС</title>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/jquery-ui.css" rel="stylesheet">
    <link href="/css/jquery-ui.structure.css" rel="stylesheet">
    <link href="/css/jquery-ui.theme.css" rel="stylesheet">
    <link href="/css/table_sorter_green/style.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.ui.datepicker-ru.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.mask.min.js"></script>
    <script src="/js/validate/jquery.validate.min.js"></script>
    <script src="/js/validate/additional-methods.min.js"></script>
    <script src="/js/validate/messages_ru.js"></script>
    <script src="/js/jquery.tablesorter.min.js"></script>
    <script src="/js/multidatespicker.js"></script>
    <script src="/js/function.js"></script>
  </head>
  <body>    
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:2px">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_menu">
            <span class="xs-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img src="/images/logo.png" height="50"></a>
        </div>
        <div class="collapse navbar-collapse"  id="main_menu">
          <ul class="nav navbar-nav">
            <li <?php echo ($_SERVER['PHP_SELF'] == "/advert.php" ?  " class=\"active\"" : "") ?>> <a href="/advert.php">Новое объявление</a></li>
           <!--  <li <?php echo ($_SERVER['PHP_SELF'] == "/advert_edit.php" ?  " class=\"active\"" : "") ?>> <a href="/advert_edit.php">Редактировать объявление</a></li>  -->
            <li <?php echo ($_SERVER['PHP_SELF'] == "/advert_list.php" ?  " class=\"active\"" : "") ?>> <a href="/advert_list.php">Общий список</a></li>
            <?php 
            if($_SESSION['access'][10]){
            ?>           
            <li <?php echo ($_SERVER['PHP_SELF'] == "/month_list.php" ?  " class=\"active\"" : "") ?>> <a href="/month_list.php">График выходов</a></li>
            <?php
        	}
            ?>            
            <?php 
            if($_SESSION['access'][1]){
            ?>
            	<li <?php echo ($_SERVER['PHP_SELF'] == "/admin.php" ?  " class=\"active\"" : "") ?>> <a href="/admin.php">Администрирование</a></li>                              
            <?php
        	}
            ?>
            <li> <a href="/method/exit.php">Выход</a></li>
          </ul>
<!--             <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Поиск по № договора">
              </div>
              <button type="submit" class="btn btn-default">Найти</button>
            </form>  -->         
        </div>          
      </div>
    </nav>
    <div class="container-fluid" style="font-size:11px">
      <ul class="list-inline text-muted text-center list-group">
        <li class="list-group-item text-danger"><b>Пользователь:</b> <em class="danger"><?php echo $_SESSION["second_name"].' '.$_SESSION["first_name"].' '.$_SESSION["third_name"] ?></em></li>    
      </ul>   
    </div>    



